@import "../../../styles/_variable.scss";

.button {
  width: 80px;
  height: auto;
  margin-left: 5px;
  border: none;
  border-radius: $border-radius-buttons;
  cursor: pointer;
  transition: 200ms all ease-in-out;

  &:hover {
    color: var(--color-button-hover);
  }
}
