@import "../../../styles/variable";

.inputSelect {
  text-align: center;
  appearance: none;
  background-color: white;
  border: none;
  border-radius: $border-radius-buttons;
  width: 40%;
  padding: 2px;
  outline: none;
}
