.labelSwitch {
  position: relative;
  display: flex;
  width: 50px;
  height: 25px;

  .switch {
    position: absolute;
    cursor: pointer;
    inset: 0;
    background-color: var(--neutral-color-300, #c9c8ca);
    transition: 0.4s;
    border-radius: 34px;

    &::before {
      position: absolute;
      content: "";
      height: 17px;
      width: 17px;
      left: 5px;
      bottom: 4px;
      background-color: var(--neutral-color-50, #fbfbfc);
      transition: 0.4s;
      border-radius: 50%;
    }
  }

  .inputSwitch {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      + .switch {
        background-color: var(--brand-color-500, #855dfb);

        &::before {
          transform: translateX(22px);
        }
      }
    }

    &:disabled {
      + .switch {
        background-color: var(--brand-color-300, #c8b6fd);
        pointer-events: none;

        &::before {
          background-color: var(--neutral-color-200, #f9f7ff);
        }
      }
    }

    &:focus {
      + .switch {
        box-shadow: 0 0 1px var(--brand-color-500, #855dfb);
      }
    }
  }
}
