@font-face {
  font-family: "Lobster";
  src: url("../assests/Font/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  src: url("../assests/Font/Crimson_Text/CrimsonText-Italic.ttf");
  font-family: "Crimson Text";
  font-weight: 400;
  font-style: italic;
}

@font-face {
  src: url("../assests/Font/Bebas_Neue/BebasNeue-Regular.ttf");
  font-family: "Bebas Neue";
  font-weight: 400;
  font-style: normal;
}
