.dark-theme {
  --font-color: #f1c37d;
  --theme-background: url("assests/image/imageWeatherDark.jpg");
  --background-color: #00000080;
  --color-span: #eed8c9;
  --line-color: #ffffff80;
  --color-error: #e1b80d;
  --color-text-input: #125373;
  --color-button-hover: #125373;
  --color-loading: #f1c37d;
  --brand-color: #0c2d57;
  --color-button-switch: #fefbf6;
  --transition-hover: all 300ms ease-in-out;
  --box-shadow-cards-hover: 0 0 11px #e29930;
}

.light-theme {
  --font-color: #fcfdfe;
  --theme-background: url("assests/image/ImageTest.jpg");
  --background-color: #00000080;
  --color-span: #008dcb;
  --line-color: #e29930;
  --color-error: #f62a00;
  --color-text-input: #217ca3;
  --color-button-hover: #217ca3;
  --color-loading: #637a9f;
  --brand-color: #fcfdfe;
  --color-button-switch: #35374b;
  --transition-hover: all 300ms ease-in-out;
  --box-shadow-cards-hover: 0 0 11px #383838be;
}
