@use "./styles/main.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: var(--theme-background);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--font-color);
}
