.info_subRegion {
  text-align: center;
  background-color: var(--background-color);
  color: var(--font-color);
  width: 100%;
  height: 60%;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  transition: var(--transition-hover);

  &:hover {
    box-shadow: var(--box-shadow-cards-hover);
  }

  &.oneCard {
    .cards {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .date {
        display: flex;
        flex-direction: row;
        gap: 50px;

        img {
          margin-bottom: 0;
        }

        .condition {
          display: flex;
          flex-direction: column;
          margin-top: 5px;
        }
      }

      .days {
        margin-left: 30px;
        &::before {
          display: none;
        }
      }
    }
  }

  .cards {
    width: 160px;
    height: 100%;
    scroll-snap-align: center;

    .date {
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;
      }

      .condition {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
      }
    }

    .days {
      position: relative;

      &::before {
        content: "";
        height: 2px;
        background-color: var(--line-color);
        position: absolute;
        top: -6px;
        right: 0;
        left: 0;
      }

      p {
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 1190px) {
  .info_subRegion {
    padding: 10px;
  }
}

@media screen and (max-width: 1130px) {
  .info_subRegion {
    padding: 8px;
  }
}

@media screen and (max-width: 1100px) {
  .info_subRegion {
    padding: 6px;
  }
}

@media screen and (max-width: 1070px) {
  .info_subRegion {
    .date {
      font-size: 14px;
    }

    .days {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 980px) {
  .info_subRegion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.oneCard {
      .cards {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .date {
          p {
            overflow: initial;
          }
        }
      }
    }

    .cards {
      .date {
        gap: 10px;

        img {
          width: 45%;
          height: 45%;
          margin: 0;
        }

        p {
          font-size: 16px;
          white-space: nowrap;
          overflow: hidden;
        }

        .condition {
          white-space: initial;

          span {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .info_subRegion {
    display: flex;
    flex-direction: column;

    .cards {
      .date {
        gap: 6px;

        img {
          width: 40%;
          height: 40%;
        }

        p {
          font-size: 15px;
          padding: 4px 8px;

          white-space: nowrap;
          overflow: hidden;
        }

        .condition {
          white-space: initial;
        }
      }

      .days {
        p {
          font-size: 15px;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .info_subRegion {
    &.oneCard {
      .cards {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 460px) {
  .info_subRegion {
    &.oneCard {
      .cards {
        display: flex;
        flex-direction: column;

        .date {
          flex-direction: column;
          gap: 0;

          img {
            width: 70px;
            height: 70px;
          }
        }

        .days {
          margin: 0;

          &::before {
            content: "";
            height: 2px;
            background-color: var(--line-color);
            position: absolute;
            top: -2px;
            right: -120px;
            left: -120px;
            display: block;
          }
        }
      }
    }

    .date {
      p {
        font-size: 12px;
      }
    }
  }
}
